MDC-automation-recommendation-AOAI.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "MDC recommendation automation sample with translation by AOAI",
        "description": "Microsoft Defender for Cloud Recommendation automation sample with translation by AOAI",
        "tags": [ "Security" ],
        "author": {
            "name": "Hisashi Nakada"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "MDC-Notification-Recommendation-AOAI",
            "type": "string"
        },
        "MailTarget": {
            "defaultValue": "<target>@<your domain>",
            "type": "string"
        }
    },
    "variables": {
        "ASCRecoConnectionName": "[concat('ascreco-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ASCRecoConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "InitMailBody": {
                            "runAfter": {
                                "PostToAOAI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "InitMailBody",
                                        "type": "string",
                                        "value": "推奨事項の状態変更を検知しました。以下ご確認下さい。<br>\n @{triggerBody()?['properties']?['status']}<br>\n<hr>\n推奨事項名 : @{triggerBody()?['properties']?['displayName']}<br>\n対象 :<br>\n@{triggerBody()?['properties']?['resourceDetails']?['id']}<br>\n詳細 :<br>\n @{triggerBody()?['properties']?['additionalData']}<br>\nURL :  https://@{triggerBody()?['properties']?['links']?['azurePortalUri']}<br>\n重要度 : @{triggerBody()?['properties']?['metadata']?['severity']}<br>\n<hr>\nAzure OpenAI ChatGPT による解説:<br>\n@{body('PostToAOAI')?['choices']?[0]?['message']?['content']}\n"
                                    }
                                ]
                            }
                        },
                        "PostToAOAI": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://cognitiveservices.azure.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "frequency_penalty": 2,
                                    "max_tokens": 1000,
                                    "messages": [
                                        {
                                            "content": "You are a Security Analyst.",
                                            "role": "system"
                                        },
                                        {
                                            "content": "推奨事項の内容を日本語に要約して下さい",
                                            "role": "user"
                                        },
                                        {
                                            "content": "@{triggerBody()?['properties']?['displayName']}, @{triggerBody()?['properties']?['metadata']?['description']}",
                                            "role": "assistant"
                                        }
                                    ],
                                    "stop": null,
                                    "temperature": 0
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://yourname.openai.azure.com/openai/deployments/yourmodel/chat/completions?api-version=2024-02-01"
                            }
                        },
                        "SendMailO365": {
                            "runAfter": {
                                "InitMailBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('InitMailBody')}</p>",
                                    "Importance": "Normal",
                                    "Subject": "推奨事項アラート : @{triggerBody()?['properties']?['displayName']}",
                                    "To": "[parameters('MailTarget')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascassessment": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ASCRecoConnectionName'))]",
                                "connectionName": "[variables('ASCRecoConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "apiVersion": "2016-06-01",
            "type": "Microsoft.Web/connections",
            "name": "[variables('ASCRecoConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('ASCRecoConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascassessment')]"
                }
            }
        },
        {
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "type": "Microsoft.Web/connections",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('office365ConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        }
    ]
}