MDC-automation-alert-AOAI.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "MDC Alert automation sample with translation by AOAI",
        "description": "Microsoft Defender for Cloud Alert automation sample with translation by AOAI",
        "tags": [ "Security" ],
        "author": {
            "name": "Hisashi Nakada"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "MDC-Notification-Alert-AOAI",
            "type": "string"
        },
        "MailTarget": {
            "defaultValue": "<target>@<your domain>",
            "type": "string"
        }
    },
    "variables": {
        "ASCAlertConnectionName": "[concat('ascalert-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ASCAlertConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "InitMailBody": {
                            "runAfter": {
                                "PostToAOAI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "InitMailBody",
                                        "type": "string",
                                        "value": "Microsoft Defender for Cloud が脅威アラートを検知しました。以下ご確認下さい。\n<hr>\nアラート名: @{triggerBody()?['AlertDisplayName']}<br>\n攻撃対象先: @{triggerBody()?['CompromisedEntity']}<br>\n重要度: @{triggerBody()?['Severity']}<br>\n検知日時: @{triggerBody()?['TimeGenerated']}\n<hr>\nAzure OpenAI による要約<br>\n@{body('PostToAOAI')?['choices']?[0]?['message']?['content']}}\n<hr>\nDetected by: @{triggerBody()?['VendorName']}<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<hr>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}\n<hr>\nLink to view alert in Microsoft Defender for Cloud:<br>\n @{triggerBody()?['AlertUri']}"
                                    }
                                ]
                            }
                        },
                        "PostToAOAI": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://cognitiveservices.azure.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "frequency_penalty": 2,
                                    "max_tokens": 1000,
                                    "messages": [
                                        {
                                            "content": "You are a Security Analyst.",
                                            "role": "system"
                                        },
                                        {
                                            "content": "アラートの内容を日本語に要約して下さい。どこが侵害されたのか、どのような事象が発生したのか、何時起こったのかを説明して下さい。",
                                            "role": "user"
                                        },
                                        {
                                            "content": "@{triggerBody()}, @{triggerBody()?['Description']}, @{triggerBody()?['CompromisedEntity']}",
                                            "role": "assistant"
                                        }
                                    ],
                                    "stop": null,
                                    "temperature": 0
                                },
                                "headers": {
                                    "Content-type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://yourname.openai.azure.com/openai/deployments/yourmodel/chat/completions?api-version=2024-02-01"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "InitMailBody": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{variables('InitMailBody')}</p>",
                                    "Importance": "High",
                                    "Subject": "MDC Alert : @{triggerBody()?['AlertDisplayName']}",
                                    "To": "[parameters('MailTarget')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ASCAlertConnectionName'))]",
                                "connectionName": "[variables('ASCAlertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "apiVersion": "2016-06-01",
            "type": "Microsoft.Web/connections",
            "name": "[variables('ASCAlertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('ASCAlertConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "type": "Microsoft.Web/connections",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('office365ConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        }
    ]
}